.about__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 0;
  padding: 1rem;
}

.about__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.wrapper__title .title {
  font-size: 3em;
  color: #006CA9;
}

.wrapper__title .subtitle {
  font-weight: 600;
  text-align: center;
}

.wrapper__image,
.wrapper__image-rtl {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper__image-rtl {
  flex-direction: row-reverse;
}

.text {
  width: 40%;
  font-weight: 500;
  color: #464646;
}

.dash__image {
  height: 250px;
}

@media screen and (max-width: 640px) {
  .wrapper__title .title {
    font-size: 2em;
    text-align: center;
  }

  .text {
    width: 80%;
  }

  .wrapper__image, .wrapper__image-rtl {
    flex-direction: column !important;
    gap: 2rem;
  }

  .dash__image {
    height: 200px;
  }
}
