@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary: #006CA9;
  --text: #464646;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}