.terms__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 65%;
  margin: 0 auto;
  flex: 1 1 0;
}

.title {
  font-size: 3em;
  color: var(--primary);
}

.subtitle {
  font-weight: 600;
  text-align: center;
  color: var(--text);
}

:root {
  --primary: #006CA9;
  --text: #464646;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  color: var(--text);
}
